Luxena.Travel/src/Core/Service References/GalileoWebService/XMLWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTicketsXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iDays" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sTicketingAgency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sBookingAgency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDocType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSubagent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sFormOfPayment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTicketsXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTicketsXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTicketsXMLByPeriod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDates" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDays" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sTicketingAgency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sBookingAgency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDocType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSubagent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sFormOfPayment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTicketsXMLByPeriodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTicketsXMLByPeriodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTicketsXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetTicketsXML" />
  </wsdl:message>
  <wsdl:message name="GetTicketsXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetTicketsXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetTicketsXMLByPeriodSoapIn">
    <wsdl:part name="parameters" element="tns:GetTicketsXMLByPeriod" />
  </wsdl:message>
  <wsdl:message name="GetTicketsXMLByPeriodSoapOut">
    <wsdl:part name="parameters" element="tns:GetTicketsXMLByPeriodResponse" />
  </wsdl:message>
  <wsdl:portType name="XMLWebServiceSoap">
    <wsdl:operation name="GetTicketsXML">
      <wsdl:input message="tns:GetTicketsXMLSoapIn" />
      <wsdl:output message="tns:GetTicketsXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketsXMLByPeriod">
      <wsdl:input message="tns:GetTicketsXMLByPeriodSoapIn" />
      <wsdl:output message="tns:GetTicketsXMLByPeriodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XMLWebServiceSoap" type="tns:XMLWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTicketsXML">
      <soap:operation soapAction="http://tempuri.org/GetTicketsXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketsXMLByPeriod">
      <soap:operation soapAction="http://tempuri.org/GetTicketsXMLByPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="XMLWebServiceSoap12" type="tns:XMLWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTicketsXML">
      <soap12:operation soapAction="http://tempuri.org/GetTicketsXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketsXMLByPeriod">
      <soap12:operation soapAction="http://tempuri.org/GetTicketsXMLByPeriod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XMLWebService">
    <wsdl:port name="XMLWebServiceSoap" binding="tns:XMLWebServiceSoap">
      <soap:address location="http://golink.galileo.com.ua/XMLWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="XMLWebServiceSoap12" binding="tns:XMLWebServiceSoap12">
      <soap12:address location="http://golink.galileo.com.ua/XMLWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>